<!doctype html>
<nav id="navigation">
  <html>
  <head>
  <meta charset="utf-8">



<div class="topnav">
  <a class="active" href="#home">| Investagon |</a>
  <a href="#news">LOGIN</a>
  <a href="#contact">Sign up</a>
  <div class="topnav-right">
    <a href="#about">About</a>
  </div>
</div>
  <title>investagon</title>
    <link rel="stylesheet" href="styles.css">
  </head>
    
  <body>
  <article>
	  
	  
	  	Whether you are new to investing or you just want to have fun with a new concept Investagon is for everyone. The idea is to pair your lifestyle with a portfolio of stocks that match your life interests. Whether you are a sport fanatic, an avid gamer or a Netflix watching binger we have a stock for you. The hypothetical investment will show you the opportunities you may have investing in stocks that go hand-in-hand with things you like to do in your everyday life. Welcome to Investagon and most of all have fun!
	  
	  </article>
  
  
  </body>
  </html>
</nav>
