<!doctype html>
<nav id="navigation">
  <html>
  <head>
  <meta charset="utf-8">



<div class="topnav">
  <a class="active" href="#home">| Investagon |</a>
  <a href="#news">LOGIN</a>
  <a href="#contact">Sign up</a>
  <div class="topnav-right">
    <a href="#about">About</a>
  </div>
</div>
  <title>investagon</title>
    <link rel="stylesheet" href="styles.css">
  </head>
    
  <body>
	  
	  <h1>Login Form</h1>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<p>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><p/>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</body>
  </html>
</nav>
